/*External
 **************************************************************/
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/*Base
 **************************************************************/
body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  margin: 0;
  padding-bottom: 5em; }

.bg {
  z-index: -1;
  position: fixed;
  background-image: url("../imgs/shardsSmall.png"), linear-gradient(0, #FFEEE2, #fff);
  background-attachment: fixed;
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0; }

.content h1 {
  margin-top: 0;
  margin-left: 0.83em;
  padding-top: 0.83em; }
.content img {
  display: block;
  margin: 0 auto;
  max-width: 60%; }

a[role='button'] {
  display: block;
  border-radius: 5px;
  background-color: #f47421;
  margin-top: .6em;
  padding: .5em;
  font-weight: 900;
  text-decoration: none;
  text-align: center; }
  a[role='button'], a[role='button']:active, a[role='button']:visited, a[role='button']:hover, a[role='button']:focus {
    color: #ddd; }
  a[role='button']:hover {
    text-decoration: underline; }

/*components
 **************************************************************/
.lead .body {
  margin: .5em 10%;
  font-weight: bold;
  line-height: 1.5em; }
.lead .title {
  display: block;
  margin: 0 auto;
  padding: 0.6em;
  padding-left: 1em;
  height: 2em;
  width: 80%;
  border-radius: 1.5em;
  background-color: #255791;
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 2em; }
  .lead .title .fa {
    float: left; }
  .lead .title.div-centered .fa {
    margin-right: -1em; }
.lead + .lead {
  margin-top: 2em; }

.slick-slider .slick-slide * {
  margin: 0 auto;
  width: 80%; }
  .slick-slider .slick-slide * p, .slick-slider .slick-slide * h2, .slick-slider .slick-slide * a {
    width: initial; }
  .slick-slider .slick-slide * a[role='button'] {
    margin-top: .6em; }
.slick-slider .slick-dots {
  list-style-type: none;
  margin: .5em 0 0;
  padding: 0;
  text-align: center; }
  .slick-slider .slick-dots li {
    display: inline-block; }
    .slick-slider .slick-dots li button {
      background: initial;
      border: initial;
      color: transparent;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
      .slick-slider .slick-dots li button:before {
        color: #222;
        content: "\f10c"; }
    .slick-slider .slick-dots li.slick-active button:before {
      content: "\f111"; }
.slick-slider .slick-arrow {
  position: absolute;
  z-index: 1;
  background: initial;
  border: initial;
  height: 100%;
  width: 10%; }
  .slick-slider .slick-arrow.slick-next {
    top: 0;
    left: 90%; }
.slick-slider * {
  outline: none; }

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  height: 4em;
  width: 100vw;
  box-shadow: 0 -1px 3px #222;
  background-color: #003874;
  color: white; }
  nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center; }
  nav ul li {
    float: left;
    width: calc(100vw / 3); }
  nav a, nav a:active, nav a:visited, nav a:hover, nav a:focus {
    color: white;
    text-decoration: none; }

/*# sourceMappingURL=style.css.map */
