.flexteam {
	.lead {
		clear: both;
	}

	.lead img {
		width: 50%;
		float: left;
		margin-right: .6em;
		margin-bottom: 2em;
	}

	@media screen and (min-width: 767px) {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;

		.lead {
			width: 50%;

			img {
				margin-bottom: 0;
			}
		}

		.lead:first-child{
			margin-top: 2em;
		}
	}
}
