.flexteam {
	.lead {
		clear: both;
	}

	.lead img {
		margin: .6em auto;
	}

	.lead p {
		text-align: center;
	}

	@media screen and (min-width: 767px) {
		display: flex;
		flex-flow: row wrap;
		align-items: center;

		.lead {
			width: calc(100% / 3);
		}

		.lead:first-child{
			margin-top: 2em;
		}
	}
}
