.lead {
	.body {
		margin: .5em 10%;
		font-weight: bold;
		line-height: 1.5em;
	}

	.title {
		display: block;
		margin: 0 auto;
		padding: 0.6em;
		padding-left: 1em;
		height: 2em;
		width: 80%;
		border-radius: 1.5em;
		background-color: $blue;
		color: white;
		text-align: center;
		font-weight: bold;
		line-height: 2em;

		.fa {
			float: left;
		}
		&.div-centered .fa {
			margin-right: -1em;
		}
	}

	& + .lead {
		margin-top: 2em;
	}
}
