.slick-slider {
	.slick-slide * {
		margin: 0 auto;
		width: 80%;

		p, h2, a {
			width: initial;
		}

		a[role='button'] {
			margin-top: .6em;
		}
	}

	.slick-dots {
		list-style-type: none;
		margin: .5em 0 0;
		padding: 0;
		text-align: center;

		li {
			display: inline-block;

			button {
				background: initial;
				border: initial;

				color: transparent;
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;

				&:before {
					color: $black;
					content: "\f10c";
				}
			}

			&.slick-active button:before {
				content: "\f111";
			}
		}
	}

	.slick-arrow {
		position: absolute;
		z-index: 1;
		border: initial;
		background: initial;
		color: $black;
		height: 100%;
		width: 10%;

		&.slick-next {
			top: 0;
			left: 90%;
		}
	}

	* {
		outline: none;
	}

	@media screen and (min-width: 912px) {}
}
