body{
	font-family: 'Open Sans', sans-serif;
	color: $black;
	margin: 0;
	padding-bottom: $nav-size + 1em;
}

.bg {
	z-index: -1;
	position: fixed;
	background-image: url('../imgs/shardsSmall.png'), linear-gradient(0, #FFEEE2, #fff);
	background-attachment: fixed;
	background-position: left calc(100% - #{$nav-size});
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	bottom: 0;
	left: 0;

	@media screen and (min-width: 912px) {
		background-position: calc(#{$nav-size} * 2) bottom;
	}
}

.content {
	h1 {
		margin-top: 0;
		margin-left: 10%;
		padding-top: 0.83em;
	}

	img {
		display: block;
		margin: 0 auto;
		max-width: 60%;
	}

	@media screen and (min-width: 912px) {
		float: right;
		width: calc(100% - #{$nav-size} * 2);
		padding-bottom: 2em;
	}

	@media screen and (min-width: 1090px){
		.md-left{
			position: fixed;
			display: flex;
			align-items: center;
			flex-flow: column nowrap;
			width: 50%;
			height: 100%;
			float: left;

			h1{
				align-self: start;
				font-size: 2em;
			}
		}
		.md-right{
			width: 50%;
			float: right;
		}
	}
}

a[role='button'] {
	display: block;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: $elem-border-rad;
	background-color: darken($cyan, 16%);
	margin-top: .6em;
	padding: .5em;
	font-weight: 900;
	text-decoration: none;
	text-align: center;

	&,&:active,&:visited,&:hover,&:focus {
		color: $black;
	}
	&:hover{
		text-decoration: underline;
	}
}
button {
	@extend a[role='button'];
	font-family: 'Open Sans', sans-serif;
	line-height: inherit;
	font-size: inherit;
}

.form {
	margin: .5em 10%;

	input[type='email'] {
		box-sizing: border-box;
		font: inherit;
		width: 100%;
		padding: .5em;
		line-height: inherit;
		font-size: inherit;
		border: solid 1px $black;
		border-radius: $elem-border-rad;
	}
}
